.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/fortnite-background.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 884px;
}

.u-section-1 .u-image-1 {
  width: 724px;
  height: 280px;
  animation-duration: 1000ms;
  margin: 190px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 40px auto 0;
  padding: 16px 47px 16px 46px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 52px;
  animation-duration: 1000ms;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-1 .u-image-1 {
    width: 640px;
    height: 252px;
    margin-top: 160px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    margin-top: 34px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-image-1 {
    width: 504px;
    height: 218px;
    margin-top: 113px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 97px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 132px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 42px;
  }

  .u-section-1 .u-image-2 {
    height: 47px;
    width: 480px;
    margin-top: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-image-1 {
    height: 172px;
    width: 390px;
    margin-top: 174px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 25px;
    padding-right: 28px;
    padding-bottom: 17px;
    padding-left: 28px;
  }

  .u-section-1 .u-image-2 {
    height: 31px;
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 {
  background-image: url("images/bg21.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 761px;
}

.u-section-2 .u-image-1 {
  width: 424px;
  height: 96px;
  margin: 85px auto 0;
}

.u-section-2 .u-video-1 {
  height: 360px;
  width: 640px;
  box-shadow: 0 0px 32px 0px rgba(6,244,222,1);
  margin: 61px auto 0;
}

.u-section-2 .u-image-2 {
  width: 403px;
  height: 349px;
  object-position: 0% 50%;
  margin: -380px 20px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 570px;
  height: 52px;
  margin: 77px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 86px;
  }

  .u-section-2 .u-video-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-image-2 {
    width: 402px;
    margin-right: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 969px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 105px;
  }

  .u-section-2 .u-video-1 {
    margin-top: 90px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -160px;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 30px;
    margin-right: 60px;
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 38px;
  }

  .u-section-2 .u-video-1 {
    height: 300px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 50px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-2 .u-image-1 {
    height: 52px;
    width: 229px;
    margin-top: 35px;
  }

  .u-section-2 .u-video-1 {
    height: 190px;
    margin-top: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    width: 249px;
    height: 199px;
    margin-top: -82px;
    margin-right: -50px;
  }

  .u-section-2 .u-image-3 {
    height: 31px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 334px;
}

.u-section-3 .u-list-1 {
  min-height: 245px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-template-rows: auto;
  height: auto;
  grid-gap: 10px 10px;
  margin: 30px auto 60px 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 31px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 6rem;
  margin: 31px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 6rem;
  margin: 31px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-3 .u-list-1 {
    min-height: 202px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-3 .u-list-1 {
    min-height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-3 .u-list-1 {
    min-height: 482px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: calc(100% - 0px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 3rem;
  }
}